@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import "./header.scss";
@import "./cards.scss";

:root {
  --TextCard: #4c506b;
  --white: #ffffff;
  --bgpage: #f7f7ff;
  --LightGrayishBlue: #d0d0db;
  --GrayishBlue: #8b8ba2;
  // --DarkGrayishBlue: hsl(232, 13%, 33%);
  --switch1: hsl(236, 72%, 79%);
  --switch2: hsl(237, 63%, 64%);
  --switchSpinner: #fdfefb;
  --line: #f2f2f4;
}
body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: var(--bgpage);
  background-image: url(../img/bg-top.svg);
  background-repeat: no-repeat;
  background-position-y: -45px;
  background-position-x: 130px;
}
@media screen and (min-width: 375px) {
  body {
    background-position-y: -50px;
    background-position-x: 180px;
  }
}
.hidden {
  display: none;
}
